<div class="my-2 flex gap-2">

  <div class="mt-2">
    <% if comment.user.profile_picture.attached? %>
      <%= image_tag comment.user.profile_picture.variant(:thumb), class: "h-9 w-9 rounded-full object-cover" %>
    <% else %>
      <%= image_tag "default.jpeg", class: "h-9 w-9 rounded-full object-cover" %>
    <% end %>
  </div>

  <div class="w-max">
    <div class="px-4 py-2 w-max bg-slate-200 rounded-2xl shadow-sm">
      <div class="font-bold text-sm">
        <%= link_to comment.user.full_name, comment.user %>
      </div>
      <div>
        <%= comment.body %>
      </div>
    </div>

    <div class="px-4 flex gap-4 items-center">
      <div class="text-gray-600 font-semibold text-xs">
        Like
      </div>
      <div class="text-gray-400 text-xs">
        <%= local_time_ago(comment.created_at) %>
      </div>
    </div>
  </div>

</div>
