<div class="my-2 flex gap-2">

  <div class="mt-2">
    <% if comment.user.profile_picture.attached? %>
      <%= image_tag comment.user.profile_picture.variant(:thumb), class: "h-9 w-9 rounded-full object-cover" %>
    <% else %>
      <%= image_tag "default.jpeg", class: "h-9 w-9 rounded-full object-cover" %>
    <% end %>
  </div>

  <div class="w-max">
    <div class="px-4 py-2 w-max bg-slate-200 rounded-2xl shadow-sm">
      <div class="font-bold text-sm">
        <%= link_to comment.user.full_name, comment.user %>
      </div>
      <div>
        <%= comment.body %>
      </div>
    </div>

    <div class="px-4 flex gap-4 items-center text-gray-600 font-medium text-xs">
      <div>
        <span> ♡<%= comment.likes.size %> </span>
      </div>
      <div>
        <% if like = LikesHelper.find_like(comment, current_user) %>
          <%= link_to "Like", [comment.commentable, comment, like],
            data: { turbo_method: :delete },
            class: "text-blue-500 font-semibold" %>
        <% else %>
          <%= render "likes/form", likeable: comment %>
        <% end %>
      </div>
      <div class="text-gray-400">
        <%= local_time_ago(comment.created_at) %>
      </div>
    </div>
  </div>

</div>
