<%= turbo_frame_tag comment do %>
  <div class="my-2 flex gap-2">

    <div class="mt-2 shrink-0">
      <% if comment.user.profile_picture.attached? %>
        <%= image_tag comment.user.profile_picture.variant(:thumb), class: "profile-picture-small" %>
      <% else %>
        <%= image_tag "default.jpeg", class: "profile-picture-small" %>
      <% end %>
    </div>

    <div class="w-max">
      <div class="px-4 py-2 max-w-full bg-slate-200 rounded-2xl shadow-sm">
        <div class="font-bold text-sm">
          <%= link_to comment.user.full_name,
            comment.user,
            data: { turbo_frame: "_top" } %>
        </div>
        <p class="break-word">
          <%= comment.body %>
        </p>
      </div>

      <div class="px-4 flex gap-4 items-center text-gray-600 font-medium text-xs">
        <span class="flex items-center">
          <%= image_tag "thumb-up-white.svg", class: "mx-1 h-4 w-4 p-0.5 rounded-full bg-blue-500" %>
          <% if (likes_count = comment.likes.size) == 0 %>
            0
          <% else %>
            <%= link_to likes_count,
              commentable_comment_likes_path(comment),
              data: { turbo_frame: "_top" } %>
          <% end %>
        </span>
        <div class="font-semibold">
          <% if like = find_like(comment, current_user) %>
            <%= button_to "Like", [comment.commentable, comment, like],
              method: :delete,
              class: "text-blue-500" %>
          <% else %>
            <%= button_to "Like", [comment.commentable, comment, Like.new] %>
          <% end %>
        </div>
        <% if comment.user == current_user %>
          <div>
              <%= link_to "Edit", [:edit, comment.commentable, comment] %>
          </div>

          <div>
            <%= button_to "Delete",
              [comment.commentable, comment],
              data: { turbo_frame: turbo_frame_id(comment) },
              method: :delete %>
          </div>
      <% end %>
        <div class="text-gray-400">
          <%= local_time_ago(comment.created_at) %>
        </div>
      </div>
    </div>

  </div>
<% end %>
