<%= form_with model: [commentable, Comment.new], class: 'my-2 flex gap-2 items-center' do |f| %>
  <div class="shrink-0">
    <% if current_user.profile_picture.attached? %>
      <%= image_tag current_user.profile_picture.variant(:thumb), class: "profile-picture-small" %>
    <% else %>
      <%= image_tag "default.jpeg", class: "profile-picture-small" %>
    <% end %>
  </div>

  <div class="grow">
    <%= f.text_field :body, placeholder: "Write a comment...", class: "px-4 w-full bg-slate-200 rounded-2xl border-none shadow-sm" %>
  </div>

  <%= f.submit "Comment", class: "btn btn-secondary flex-none" %>

<% end %>
