<div class="my-8 px-8 pt-8 pb-8 flex flex-col bg-white rounded-md drop-shadow-lg">
  <div class="font-semibold">
    <%= post.user.full_name %>
  </div>
  <p>
    <%= post.body %>
  </p>

  <hr>

  <%= render "comments/form", commentable: post, commentable_type: 'post' %>

  <% if post.comments.any? %>
    
    <div class="px-4 py-2">
      <%= render post.comments.last %>
    </div>

    <div class="text-slate-500 font-semibold">
      <%= link_to "View all comments", post %>
    </div>
  <% end %>

</div>
