<h1>Edit Post</h1>

<%= turbo_frame_tag @post do %>
  <div class="my-4 bg-white px-8 py-4 rounded-md drop-shadow-lg">
    <div class="flex gap-2">
      <div>
        <% if @post.user.profile_picture.attached? %>
          <%= image_tag @post.user.profile_picture.variant(:thumb), class: "h-12 w-12 rounded-full object-cover" %>
        <% else %>
          <%= image_tag "default.jpeg", class: "h-12 w-12 rounded-full object-cover" %>
        <% end %>
      </div>
      <div>
        <div class="font-semibold">
          <%= link_to @post.user.full_name,
            @post.user,
            data: { turbo_frame: "_top" } %>
        </div>
        <div class="text-gray-400 text-sm">
          <%#= time_tag post.created_at, "data-local": "time-ago" %>
          <%= local_time_ago(@post.created_at) %>
        </div>
      </div>
    </div>

    <div class="my-4">
      <%= render "form", post: @post %>
    </div>
  </div>
<% end %>
